# run build on every push (expect master branch) and PR
name: development

on:
  push:
    branches:
      - '*'
      - '!master'
  pull_request:
    branches:
      - '*'

permissions:
  contents: read
  packages: write

jobs:
  build:
    name: Build and test (development)
    uses: ./.github/workflows/build-and-push.yml
    with:
      push_image: false
