name: Release

on:
  release:
    types: [created]

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    name: Build, test and push release image
    uses: ./.github/workflows/build-and-push.yml
    with:
      push_image: true 